body {
    background-color: rgb(39, 39, 39);
}

img {
    width: 120px; 
    height: auto;
}

h1 {
    color: rgb(150, 0, 0);
    font-size: 50px;
    font-family: Copperplate;
    margin: 0;
}

.container {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;    
}

#userDeck, #cpuDeck {
    background-color: rgb(106, 106, 106);
    border: 5px solid rgb(150, 0, 0);
    width: 90%;
    height: auto;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

#feedback {
    background-color: rgb(150, 0, 0);
    border: 5px solid rgb(150, 0, 0);
    font-size: 25px;
    font-family: Copperplate;
    width: 90%;
    height: 30px;
    line-height: 0px;
    margin: auto;
}

#scoreboard {
    background-color: rgb(106, 106, 106);
    border: 5px solid rgb(150, 0, 0);
    font-size: 25px;
    font-family: Copperplate;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.button {
    color: black;
    background-color: rgb(150, 0, 0);
    border: none;
    border-radius: 15px;
    font-size: 25px;
    font-family: Copperplate;
    width: 25%;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 10px;
}

.button:hover {
    background-color: rgb(100, 0, 0)
}

.button:active {
    background-color: rgb(100, 0, 0);
    box-shadow: 0 5px;
    transform: translateY(5px);
}

.button:disabled {
    opacity: 0.3;
}